<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0.0" package="net.gumbercules.loot">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AccountChooser" android:label="@string/app_name" android:screenOrientation="sensor"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity><activity android:label="@string/app_name" android:name=".TransactionActivity" android:screenOrientation="sensor">
            
        </activity>
    <activity android:name=".TransactionEdit" android:screenOrientation="sensor"></activity>

<activity android:name=".AccountEdit" android:screenOrientation="sensor"></activity>
</application>
</manifest> 