<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.gumbercules.loot.premium.widget" android:installLocation="internalOnly"
	android:versionCode="1" android:versionName="1.0.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="net.gumbercules.loot.premium.widget.WidgetConfigure"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name="net.gumbercules.loot.premium.widget.LootPremiumSmallWidgetProvider"
            android:label="Loot Premium (Small)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="net.gumbercules.loot.intent.ACCOUNT_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/premium_small_widget_provider" />
        </receiver>
        <receiver
            android:name="net.gumbercules.loot.premium.widget.LootPremiumWidgetProvider"
            android:label="Loot Premium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="net.gumbercules.loot.intent.ACCOUNT_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/premium_widget_provider" />
        </receiver>
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-feature android:name="android.hardware.touchscreen" />
	<supports-screens />
</manifest> 